package ${package}.modules.${moduleName}.dto;

import lombok.Data;

import java.io.Serializable;
import java.util.Date;
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;
import lombok.ToString;
import lombok.experimental.Accessors;

#if(${hasBigDecimal})
import java.math.BigDecimal;
#end
#if(${hasTime})
import java.sql.Time;
#end

/**
 * ${comments}
 *
 * @author ${author}
 * @since ${version} ${date}
 */
@Data
@ApiModel(value = "${comments}")
@ToString
@Accessors(chain = true)
public class ${className}DTO implements Serializable {
    private static final long serialVersionUID = 1L;

#foreach ($column in $columns)
	/**
     * $column.comments
     */
    @ApiModelProperty(value = "$column.comments")
	private $column.attrType $column.attrname;

#end

    @Override
    public String toString() {
        final StringBuilder sb = new StringBuilder("{");
        #foreach ($column in $columns)
            #if(!$pk || $pk.columnName != 'id' || ($column.columnName != 'id' && $column.columnName != 'create_time' && $column.columnName != 'update_time'))
                sb.append(",\"$column.attrname:\"").append($column.attrname).append('\"');
            #end
        #end
        sb.append('}');
        return sb.toString().replace("{,","{");
    }

}