package ${package}.modules.${moduleName}.service.impl;

import ${package}.modules.${moduleName}.dao.${className}Mapper;
import ${package}.modules.${moduleName}.entity.${className}Entity;
import ${package}.modules.${moduleName}.dto.${className}DTO;
import ${package}.modules.${moduleName}.service.${className}Service;
import com.appiron.emm.common.service.impl.AbstractBaseServiceImpl;
import com.baomidou.mybatisplus.core.toolkit.Wrappers;
import org.springframework.stereotype.Service;
import lombok.extern.slf4j.Slf4j;
import java.util.Date;
import java.util.List;

/**
 * ${comments}
 *
 * @author ${author}
 * @since ${version} ${date}
 */
@Slf4j
@Service
public class ${className}ServiceImpl extends AbstractBaseServiceImpl<${className}Mapper, ${className}Entity,${className}DTO> implements ${className}Service {

    @Override
    public List<${className}Entity> getById(String id){
        return this.list(Wrappers.<${className}Entity>lambdaQuery().eq(${className}Entity::getId,id));
    }

    @Override
    public List<${className}Entity> getAll${className}() {
        return this.list();
    }

    @Override
    public boolean update${className}(${className}Entity obj){
        Date date = new Date();
        obj.setUpdateTime(date);
        return this.update(Wrappers.<${className}Entity>lambdaUpdate().eq(${className}Entity::getId,obj.getId()));
    }

    @Override
    public boolean insert${className}(${className}Entity obj){
        Date date = new Date();
        obj.setCreateTime(date);
        obj.setUpdateTime(date);
        return this.save(obj);
    }

    @Override
    public boolean deleteById(List<String> ids){
        return this.remove(Wrappers.<${className}Entity>lambdaQuery().in(${className}Entity::getId,ids));
    }

}